version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    environment:
      API_URL: http://api:8000/predict
    ports:
      - "8501:8501"
    depends_on:
      - api
