services:
  api:
    image: 7903954268/mlproject-api:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"

  ui:
    image: 7903954268/mlproject-ui:latest
    build:
      context: .
      dockerfile: Dockerfile.ui
    environment:
      API_URL: http://api:8000/predict
    ports:
      - "8501:8501"
    depends_on:
      - api
